USE [StorageDB]
GO
/****** Object:  Table [dbo].[StockLevels]    Script Date: 11/15/2025 2:03:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockLevels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuantityAvailable] [decimal](12, 2) NOT NULL,
	[QuantityReserved] [decimal](12, 2) NOT NULL,
	[QuantityTotal]  AS ([QuantityAvailable]+[QuantityReserved]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockLevels] ADD  DEFAULT ((0)) FOR [QuantityAvailable]
GO
ALTER TABLE [dbo].[StockLevels] ADD  DEFAULT ((0)) FOR [QuantityReserved]
GO
ALTER TABLE [dbo].[StockLevels]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
