USE [StorageDB]
GO
/****** Object:  View [dbo].[vw_CurrentStock]    Script Date: 11/15/2025 2:03:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CurrentStock]
AS
SELECT 
    p.ID AS ProductID,
    p.ProductCode,
    p.Name AS ProductName,
    p.Description,
    
    s.Name AS SupplierName,
    s.TaxId AS SupplierTaxId,
    s.REGON AS SupplierREGON,
    s.PhoneNumber AS SupplierPhoneNumber,
    s.Email AS SupplierEmail,

    u.Unit AS Unit,
    
    ISNULL(sl.QuantityAvailable, 0) AS QuantityAvailable,
    ISNULL(sl.QuantityReserved, 0) AS QuantityReserved,
    ISNULL(sl.QuantityAvailable, 0) + ISNULL(sl.QuantityReserved, 0) AS QuantityTotal,

    p.NetPrice,
    p.VatRate,
    p.GrossPrice,

    (
        SELECT TOP 1 sm.CreatedAt
        FROM StockMovements sm
        WHERE sm.ProductID = p.ID
        ORDER BY sm.CreatedAt DESC
    ) AS LastMovementDate
FROM Products p
LEFT JOIN Suppliers s ON p.SupplierID = s.ID
LEFT JOIN Units u ON p.UnitID = u.ID
LEFT JOIN StockLevels sl ON p.ID = sl.ProductID;
GO
