/****** Object:  Database [storage-db]    Script Date: 4/1/2026 12:02:18 AM ******/
CREATE DATABASE [storage-db]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/1/2026 12:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Currency] [char](3) NOT NULL,
	[NetPrice] [decimal](12, 2) NOT NULL,
	[VatRate] [decimal](5, 2) NOT NULL,
	[GrossPrice] [decimal](12, 2) NOT NULL,
	[isActiv] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Products__3214EC2780F64B11] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Products_ProductCode] UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSuppliers]    Script Date: 4/1/2026 12:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSuppliers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductSuppliers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductSupplier] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[SupplierID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SupplierProducts]    Script Date: 4/1/2026 12:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SupplierProducts]
AS
SELECT dbo.ProductSuppliers.SupplierID, dbo.Products.ID AS ProductID, dbo.Products.UnitID, dbo.Products.ProductCode, dbo.Products.Name, dbo.Products.Currency, dbo.Products.NetPrice, dbo.Products.VatRate, dbo.Products.GrossPrice, 
                  dbo.Products.isActiv
FROM     dbo.ProductSuppliers INNER JOIN
                  dbo.Products ON dbo.ProductSuppliers.ProductID = dbo.Products.ID
GO
/****** Object:  Table [dbo].[StockLevels]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockLevels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuantityAvailable] [decimal](12, 2) NOT NULL,
	[QuantityReserved] [decimal](12, 2) NOT NULL,
	[QuantityOrder] [decimal](12, 2) NOT NULL,
	[QuantityTotal]  AS (([QuantityAvailable]+[QuantityReserved])+[QuantityOrder]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StockLevels_Product] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK__Unit__88DE9D64F560F873] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TaxId] [nvarchar](15) NOT NULL,
	[REGON] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[CreateDate] [datetime] NOT NULL,
	[IsActiv] [bit] NOT NULL,
 CONSTRAINT [PK__Supplier__62ECC7790EA9CBA3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Suppliers_TaxId] UNIQUE NONCLUSTERED 
(
	[TaxId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Products_Full_Data]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Products_Full_Data]
AS
SELECT dbo.Products.ID AS ProductId, dbo.Products.Name, dbo.Products.ProductCode, dbo.Products.UnitID, dbo.Products.Currency, dbo.Products.VatRate, dbo.Products.GrossPrice, dbo.Products.isActiv, dbo.Units.Unit, dbo.Products.NetPrice, 
                  dbo.ProductSuppliers.SupplierID, dbo.Suppliers.Name AS SupplierName, dbo.StockLevels.QuantityAvailable, dbo.StockLevels.QuantityReserved, dbo.StockLevels.QuantityOrder, dbo.StockLevels.QuantityTotal
FROM     dbo.Products LEFT OUTER JOIN
                  dbo.ProductSuppliers ON dbo.Products.ID = dbo.ProductSuppliers.ProductID LEFT OUTER JOIN
                  dbo.Suppliers ON dbo.ProductSuppliers.SupplierID = dbo.Suppliers.ID INNER JOIN
                  dbo.StockLevels ON dbo.Products.ID = dbo.StockLevels.ProductID INNER JOIN
                  dbo.Units ON dbo.Products.UnitID = dbo.Units.ID AND dbo.Products.UnitID = dbo.Units.ID AND dbo.Products.UnitID = dbo.Units.ID AND dbo.Products.UnitID = dbo.Units.ID AND dbo.Products.UnitID = dbo.Units.ID AND 
                  dbo.Products.UnitID = dbo.Units.ID
GO
/****** Object:  View [dbo].[vw_Products]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Products]
AS
SELECT p.ID, p.Name, p.ProductCode, p.Currency, p.NetPrice, p.VatRate, p.GrossPrice, u.ID AS UnitId, u.Unit, sl.QuantityAvailable, sl.QuantityOrder, sl.QuantityReserved, sl.QuantityTotal, p.isActiv
FROM     dbo.Products AS p INNER JOIN
                  dbo.StockLevels AS sl ON p.ID = sl.ProductID INNER JOIN
                  dbo.Units AS u ON p.UnitID = u.ID
GO
/****** Object:  Table [dbo].[ProductOperation_Log]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOperation_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RequestGuid] [uniqueidentifier] NOT NULL,
	[OperationType] [nvarchar](20) NOT NULL,
	[ProductID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ErrorMessage] [nvarchar](4000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [decimal](12, 2) NOT NULL,
	[MovementType] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[DocumentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockOperation_Log]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOperation_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RequestGuid] [uniqueidentifier] NOT NULL,
	[OperationType] [nvarchar](20) NOT NULL,
	[DocumentId] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ErrorMessage] [nvarchar](4000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierOperation_Log]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierOperation_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RequestGuid] [uniqueidentifier] NOT NULL,
	[OperationType] [nvarchar](20) NOT NULL,
	[SupplierID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ErrorMessage] [nvarchar](4000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductOperation_Log] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__GrossP__6DCC4D03]  DEFAULT ((0)) FOR [GrossPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_AddedDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductSuppliers] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StockLevels] ADD  DEFAULT ((0)) FOR [QuantityAvailable]
GO
ALTER TABLE [dbo].[StockLevels] ADD  DEFAULT ((0)) FOR [QuantityReserved]
GO
ALTER TABLE [dbo].[StockLevels] ADD  CONSTRAINT [DF_StockLevels_QuantityOrder]  DEFAULT ((0)) FOR [QuantityOrder]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockOperation_Log] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupplierOperation_Log] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Unit]
GO
ALTER TABLE [dbo].[ProductSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_ProductSuppliers_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductSuppliers] CHECK CONSTRAINT [FK_ProductSuppliers_Product]
GO
ALTER TABLE [dbo].[ProductSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_ProductSuppliers_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[ProductSuppliers] CHECK CONSTRAINT [FK_ProductSuppliers_Supplier]
GO
ALTER TABLE [dbo].[StockLevels]  WITH CHECK ADD  CONSTRAINT [FK__StockLeve__Produ__6AEFE058] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[StockLevels] CHECK CONSTRAINT [FK__StockLeve__Produ__6AEFE058]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK__StockMove__Produ__03F0984C] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK__StockMove__Produ__03F0984C]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_Prices_Positive] CHECK  (([NetPrice]>=(0) AND [GrossPrice]>=(0) AND [VatRate]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_Prices_Positive]
GO
ALTER TABLE [dbo].[StockLevels]  WITH CHECK ADD  CONSTRAINT [CHK_Stock_NotNegative] CHECK  (([QuantityAvailable]>=(0) AND [QuantityReserved]>=(0) AND [QuantityOrder]>=(0)))
GO
ALTER TABLE [dbo].[StockLevels] CHECK CONSTRAINT [CHK_Stock_NotNegative]
GO
ALTER TABLE [dbo].[StockLevels]  WITH CHECK ADD  CONSTRAINT [CK_StockLevels_QuantityAvailable_NonNegative] CHECK  (([QuantityAvailable]>=(0)))
GO
ALTER TABLE [dbo].[StockLevels] CHECK CONSTRAINT [CK_StockLevels_QuantityAvailable_NonNegative]
GO
ALTER TABLE [dbo].[StockLevels]  WITH CHECK ADD  CONSTRAINT [CK_StockLevels_QuantityOrder_NonNegative] CHECK  (([QuantityOrder]>=(0)))
GO
ALTER TABLE [dbo].[StockLevels] CHECK CONSTRAINT [CK_StockLevels_QuantityOrder_NonNegative]
GO
ALTER TABLE [dbo].[StockLevels]  WITH CHECK ADD  CONSTRAINT [CK_StockLevels_QuantityReserved_NonNegative] CHECK  (([QuantityReserved]>=(0)))
GO
ALTER TABLE [dbo].[StockLevels] CHECK CONSTRAINT [CK_StockLevels_QuantityReserved_NonNegative]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [CK_Suppliers_TaxId_NotEmpty] CHECK  ((len(ltrim(rtrim([TaxId])))>(0)))
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [CK_Suppliers_TaxId_NotEmpty]
GO
/****** Object:  StoredProcedure [dbo].[Product_ADD]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Product_ADD]
    @UnitID INT,
    @ProductCode NVARCHAR(50),
    @Name NVARCHAR(255),
    @Currency CHAR(3),
    @NetPrice DECIMAL(12,2),
    @VatRate DECIMAL(5,2),
    @GrossPrice DECIMAL(12,2),
    @isActiv BIT,
    @RequestGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;
    DECLARE @ProductID INT = NULL;

    BEGIN TRY
        IF @ProductCode IS NULL OR LTRIM(RTRIM(@ProductCode)) = ''
            THROW 50001, 'Kod produktu jest wymagany', 1;

        IF @Name IS NULL OR LTRIM(RTRIM(@Name)) = ''
            THROW 50002, 'Nazwa produktu jest wymagana', 1;

        IF @Currency IS NULL OR LEN(@Currency) <> 3
            THROW 50003, 'Waluta musi składać się z 3 znaków kodu waluty', 1;

        IF @NetPrice < 0 OR @GrossPrice < 0 OR @VatRate < 0
            THROW 50004, 'Ceny i stawka VAT muszą być >= 0', 1;

        IF NOT EXISTS (SELECT 1 FROM Units WHERE ID = @UnitID)
            THROW 50005, 'Podana jednostka miary nie istnieje w bazie', 1;

        IF EXISTS (SELECT 1 FROM Products WHERE ProductCode = @ProductCode)
            THROW 50006, 'Podany kod produktu już istnieje w bazie', 1;

        BEGIN TRANSACTION;

        INSERT INTO dbo.Products
            (UnitID, ProductCode, Name, Currency, NetPrice, VatRate, GrossPrice, isActiv)
        VALUES
            (@UnitID, @ProductCode, @Name, @Currency, @NetPrice, @VatRate, @GrossPrice, @isActiv);

        SET @ProductID = SCOPE_IDENTITY();

        INSERT INTO dbo.StockLevels (ProductId)
        VALUES (@ProductID);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO dbo.ProductOperation_Log
        (RequestGuid, OperationType, ProductID, Status, ErrorMessage)
    VALUES
        (@RequestGuid, 'ADD', @ProductID, @Status, @ErrorMessage);
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_UPDATE]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Product_UPDATE]
    @ID INT,
    @UnitID INT,
    @ProductCode NVARCHAR(50),
    @Name NVARCHAR(255),
    @Currency CHAR(3),
    @NetPrice DECIMAL(12,2),
    @VatRate DECIMAL(5,2),
    @GrossPrice DECIMAL(12,2),
    @isActiv BIT,
    @RequestGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Products WHERE ID = @ID)
            THROW 50010, 'Podany produkt nie istnieje w bazie', 1;

        IF @ProductCode IS NULL OR LTRIM(RTRIM(@ProductCode)) = ''
            THROW 50011, 'Kod produktu jest wymagany', 1;

        IF @Name IS NULL OR LTRIM(RTRIM(@Name)) = ''
            THROW 50012, 'Nazwa produktu jest wymagana', 1;

        IF @Currency IS NULL OR LEN(@Currency) <> 3
            THROW 50013, 'Waluta musi składać się z 3 znaków kodu waluty', 1;

        IF @NetPrice < 0 OR @GrossPrice < 0 OR @VatRate < 0
            THROW 50014, 'Ceny i stawka VAT muszą być >= 0', 1;

        IF NOT EXISTS (SELECT 1 FROM Units WHERE ID = @UnitID)
            THROW 50015, 'Podana jednostka miary nie istnieje w bazie', 1;

        IF EXISTS (
            SELECT 1 
            FROM Products 
            WHERE ProductCode = @ProductCode AND ID <> @ID
        )
            THROW 50016, 'Podany kod produktu jest już zarezerwowany', 1;

        BEGIN TRANSACTION;

        UPDATE dbo.Products
        SET
            UnitID = @UnitID,
            ProductCode = @ProductCode,
            Name = @Name,
            Currency = @Currency,
            NetPrice = @NetPrice,
            VatRate = @VatRate,
            GrossPrice = @GrossPrice,
            isActiv = @isActiv
        WHERE ID = @ID;

        IF @@ROWCOUNT = 0
            THROW 50017, 'Błąd aktualizacji', 1;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO dbo.ProductOperation_Log
        (RequestGuid, OperationType, ProductID, Status, ErrorMessage)
    VALUES
        (@RequestGuid, 'UPDATE', @ID, @Status, @ErrorMessage);
END;
GO
/****** Object:  StoredProcedure [dbo].[ProductSuppliers_ADD]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductSuppliers_ADD]
    @ProductID INT,
    @SupplierID INT,
    @RequestGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Products WHERE ID = @ProductID)
            THROW 60100, 'Podany produkt nie istnieje w bazie', 1;

        IF NOT EXISTS (SELECT 1 FROM Suppliers WHERE ID = @SupplierID)
            THROW 60101, 'Podany dostawca nie istnieje w bazie', 1;

        IF EXISTS (
            SELECT 1 
            FROM ProductSuppliers 
            WHERE ProductID = @ProductID AND SupplierID = @SupplierID
        )
            THROW 60102, 'Takie przypisanie produktu do dostawcy już istnieje', 1;

        BEGIN TRANSACTION;

        INSERT INTO dbo.ProductSuppliers
            (ProductID, SupplierID)
        VALUES
            (@ProductID, @SupplierID);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO dbo.SupplierOperation_Log
        (RequestGuid, OperationType, SupplierID, Status, ErrorMessage)
    VALUES
        (@RequestGuid, 'ADD_PRODUCT', @SupplierID, @Status, @ErrorMessage);
END;
GO
/****** Object:  StoredProcedure [dbo].[Stock_IN]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Stock_IN]
(
    @DocumentId INT,
    @ItemsJson NVARCHAR(MAX),
    @RequestGuid UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;

	BEGIN TRY
		BEGIN TRANSACTION;

        DECLARE @Items TABLE (
            ProductID INT,
            Quantity DECIMAL(12,2)
        );

        INSERT INTO @Items(ProductID, Quantity)
        SELECT 
			TRY_CAST(JSON_VALUE(value, '$.ProductID') AS INT),
            TRY_CAST(JSON_VALUE(value, '$.Quantity') AS DECIMAL(12,2))
        FROM OPENJSON(@ItemsJson);

        IF EXISTS (
            SELECT 1 FROM @Items
            WHERE ProductID IS NULL OR Quantity IS NULL OR Quantity <= 0
        )
            THROW 70002, 'Niepoprawnie podany produkt lub ilość', 1;

        IF EXISTS (
            SELECT 1
            FROM @Items i
            LEFT JOIN Products p ON p.ID = i.ProductID
            WHERE p.ID IS NULL
        )
            THROW 70003, 'Jeden lub kilka z podanych produktów nie istnieje w bazie', 1;

        INSERT INTO StockMovements(ProductId, Quantity, MovementType, DocumentId)
        SELECT ProductID, Quantity, 'IN', @DocumentId
        FROM @Items;

        UPDATE sl WITH (UPDLOCK, ROWLOCK)
        SET 
			QuantityOrder = QuantityOrder - i.Quantity,
			QuantityAvailable = QuantityAvailable + i.Quantity
        FROM StockLevels sl
        JOIN @Items i ON sl.ProductID = i.ProductID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO StockOperation_Log
		( RequestGuid, OperationType, DocumentId, Status, ErrorMessage )
    VALUES
		( @RequestGuid, 'IN', @DocumentId, @Status, @ErrorMessage );
END;
GO
/****** Object:  StoredProcedure [dbo].[Stock_ORDER]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Stock_ORDER]
(
    @DocumentId INT,
    @ItemsJson NVARCHAR(MAX),
    @RequestGuid UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;

    BEGIN TRY
		BEGIN TRANSACTION;

        DECLARE @Items TABLE (
            ProductID INT,
            Quantity DECIMAL(12,2)
        );

        INSERT INTO @Items(ProductID, Quantity)
        SELECT 
            TRY_CAST(JSON_VALUE(value, '$.ProductID') AS INT),
            TRY_CAST(JSON_VALUE(value, '$.Quantity') AS DECIMAL(12,2))
        FROM OPENJSON(@ItemsJson);

		IF EXISTS (
            SELECT 1 FROM @Items
            WHERE ProductID IS NULL OR Quantity IS NULL OR Quantity <= 0
        )
            THROW 70002, 'Niepoprawnie podany produkt lub ilość', 1;

        IF EXISTS (
            SELECT 1
            FROM @Items i
            LEFT JOIN Products p ON p.ID = i.ProductID
            WHERE p.ID IS NULL
        )
            THROW 70003, 'Jeden lub kilka z podanych produktów nie istnieje w bazie', 1;

        INSERT INTO StockMovements(ProductId, Quantity, MovementType, DocumentId)
        SELECT ProductID, Quantity, 'ORDER', @DocumentId
        FROM @Items;

        UPDATE sl WITH (UPDLOCK, ROWLOCK)
        SET QuantityOrder = QuantityOrder + i.Quantity
        FROM StockLevels sl
        JOIN @Items i ON sl.ProductID = i.ProductID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO StockOperation_Log
		( RequestGuid, OperationType, DocumentId, Status, ErrorMessage )
    VALUES
		( @RequestGuid, 'ORDER', @DocumentId, @Status, @ErrorMessage );
END;
GO
/****** Object:  StoredProcedure [dbo].[Stock_OUT]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Stock_OUT]
    @DocumentId INT,
    @ItemsJson NVARCHAR(MAX),
    @RequestGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;

    BEGIN TRY
		BEGIN TRANSACTION;

        DECLARE @Items TABLE (
            ProductID INT,
            Quantity DECIMAL(12,2)
        );

        INSERT INTO @Items(ProductID, Quantity)
        SELECT 
            TRY_CAST(JSON_VALUE(value, '$.ProductID') AS INT),
            TRY_CAST(JSON_VALUE(value, '$.Quantity') AS DECIMAL(12,2))
        FROM OPENJSON(@ItemsJson);

		IF EXISTS (
            SELECT 1 FROM @Items
            WHERE ProductID IS NULL OR Quantity IS NULL OR Quantity <= 0
        )
            THROW 70102, 'Niepoprawny podany produkt lub ilość', 1;

        -- sprawdzenie produktów
        IF EXISTS (
            SELECT 1
            FROM @Items i
            LEFT JOIN Products p ON p.ID = i.ProductID
            WHERE p.ID IS NULL
        )
            THROW 70103, 'Jeden lub kilka z produktów nie istnieje w bazie', 1;

        INSERT INTO StockMovements(ProductId, Quantity, MovementType, DocumentId)
        SELECT ProductID, Quantity, 'OUT', @DocumentId
        FROM @Items;

        UPDATE sl WITH (UPDLOCK, ROWLOCK)
        SET QuantityReserved = QuantityReserved - i.Quantity
        FROM StockLevels sl
        JOIN @Items i ON sl.ProductID = i.ProductID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO StockOperation_Log
		( RequestGuid, OperationType, DocumentId, Status, ErrorMessage )
    VALUES
		( @RequestGuid, 'OUT', @DocumentId, @Status, @ErrorMessage );
END;
GO
/****** Object:  StoredProcedure [dbo].[Stock_RESERVE]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Stock_RESERVE]
	@DocumentId INT,
    @ItemsJson NVARCHAR(MAX),
    @RequestGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;
	DECLARE @Details NVARCHAR(MAX) = NULL

	BEGIN TRY
		BEGIN TRANSACTION;

        DECLARE @Items TABLE (
            ProductID INT,
            Quantity DECIMAL(12,2)
        );

        INSERT INTO @Items(ProductID, Quantity)
        SELECT 
            TRY_CAST(JSON_VALUE(value, '$.ProductID') AS INT),
            TRY_CAST(JSON_VALUE(value, '$.Quantity') AS DECIMAL(12,2))
        FROM OPENJSON(@ItemsJson);

		IF EXISTS (
            SELECT 1 FROM @Items
            WHERE ProductID IS NULL OR Quantity IS NULL OR Quantity <= 0
        )
            THROW 70002, 'Niepoprawnie podany produkt lub ilość', 1;

        IF EXISTS (
            SELECT 1
            FROM @Items i
            LEFT JOIN Products p ON p.ID = i.ProductID
            WHERE p.ID IS NULL
        )
            THROW 70003, 'Jeden lub kilka z podanych produktów nie istnieje w bazie', 1;

		DECLARE @Missing TABLE
		(
			ProductID INT,
			MissingQuantity DECIMAL(12,2)
		)

		UPDATE sl WITH (UPDLOCK, ROWLOCK)
		SET
			QuantityReserved = QuantityReserved +
			CASE
				WHEN sl.QuantityAvailable >= i.Quantity THEN i.Quantity
				ELSE sl.QuantityAvailable
			END,

			QuantityAvailable = QuantityAvailable -
			CASE
				WHEN sl.QuantityAvailable >= i.Quantity THEN i.Quantity
				ELSE sl.QuantityAvailable
			END

		OUTPUT
			inserted.ProductID,
			CASE
				WHEN i.Quantity > deleted.QuantityAvailable THEN i.Quantity - deleted.QuantityAvailable
				ELSE NULL
			END
		INTO @Missing
		FROM StockLevels sl
		JOIN @Items i
			ON sl.ProductID = i.ProductID

		DELETE FROM @Missing
		WHERE MissingQuantity IS NULL OR MissingQuantity <= 0

		INSERT INTO StockMovements(ProductId, Quantity, MovementType, DocumentId)
		SELECT
			i.ProductID,
			CASE
				WHEN sl.QuantityAvailable >= i.Quantity THEN i.Quantity
				ELSE sl.QuantityAvailable
			END,
			'RESERVE',
			@DocumentId
		FROM @Items i
		JOIN StockLevels sl
			ON sl.ProductID = i.ProductID

		IF EXISTS (SELECT 1 FROM @Missing)
		BEGIN
			SET @Status = 'PARTIAL'
			SET @Details =
			(
				SELECT ProductID, MissingQuantity
				FROM @Missing
				FOR JSON PATH
			)
		END
		COMMIT TRANSACTION
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK

		SET @Status = 'ERROR'
		SET @ErrorMessage = ERROR_MESSAGE()
	END CATCH

	INSERT INTO StockOperation_Log
		( RequestGuid, OperationType, DocumentId, Status, ErrorMessage, Details )
	VALUES
	( @RequestGuid, 'RESERVE', @DocumentId, @Status, @ErrorMessage, @Details )
END;
GO
/****** Object:  StoredProcedure [dbo].[Stock_UNORDER]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Stock_UNORDER]
(
    @DocumentId INT,
    @ItemsJson NVARCHAR(MAX),
    @RequestGuid UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;

    BEGIN TRY
		BEGIN TRANSACTION;

        DECLARE @Items TABLE (
            ProductID INT,
            Quantity DECIMAL(12,2)
        );

        INSERT INTO @Items(ProductID, Quantity)
        SELECT 
            TRY_CAST(JSON_VALUE(value, '$.ProductID') AS INT),
            TRY_CAST(JSON_VALUE(value, '$.Quantity') AS DECIMAL(12,2))
        FROM OPENJSON(@ItemsJson);

		IF EXISTS (
            SELECT 1 FROM @Items
            WHERE ProductID IS NULL OR Quantity IS NULL OR Quantity <= 0
        )
            THROW 70002, 'Niepoprawnie podany produkt lub ilość', 1;

        IF EXISTS (
            SELECT 1
            FROM @Items i
            LEFT JOIN Products p ON p.ID = i.ProductID
            WHERE p.ID IS NULL
        )
            THROW 70003, 'Jeden lub kilka z podanych produktów nie istnieje w bazie', 1;

        INSERT INTO StockMovements(ProductId, Quantity, MovementType, DocumentId)
        SELECT ProductID, Quantity, 'UNORDER', @DocumentId
        FROM @Items;

        UPDATE sl WITH (UPDLOCK, ROWLOCK)
        SET QuantityOrder = QuantityOrder - i.Quantity
        FROM StockLevels sl
        JOIN @Items i ON sl.ProductID = i.ProductID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO StockOperation_Log
		( RequestGuid, OperationType, DocumentId, Status, ErrorMessage )
    VALUES
		( @RequestGuid, 'UNORDER', @DocumentId, @Status, @ErrorMessage );
END;
GO
/****** Object:  StoredProcedure [dbo].[Stock_UNRESERVE]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Stock_UNRESERVE]
    @DocumentId INT,
    @ItemsJson NVARCHAR(MAX),
    @RequestGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;

    BEGIN TRY
		BEGIN TRANSACTION;

        DECLARE @Items TABLE (
            ProductID INT,
            Quantity DECIMAL(12,2)
        );

        INSERT INTO @Items(ProductID, Quantity)
        SELECT 
            TRY_CAST(JSON_VALUE(value, '$.ProductID') AS INT),
            TRY_CAST(JSON_VALUE(value, '$.Quantity') AS DECIMAL(12,2))
        FROM OPENJSON(@ItemsJson);

		IF EXISTS (
            SELECT 1 FROM @Items
            WHERE ProductID IS NULL OR Quantity IS NULL OR Quantity <= 0
        )
            THROW 70002, 'Niepoprawnie podany produkt lub ilość', 1;

        IF EXISTS (
            SELECT 1
            FROM @Items i
            LEFT JOIN Products p ON p.ID = i.ProductID
            WHERE p.ID IS NULL
        )
            THROW 70003, 'Jeden lub kilka z podanych produktów nie istnieje w bazie', 1;

        INSERT INTO StockMovements(ProductId, Quantity, MovementType, DocumentId)
        SELECT ProductID, Quantity, 'UNRESERVE', @DocumentId
        FROM @Items;

        UPDATE sl WITH (UPDLOCK, ROWLOCK)
        SET 
			QuantityReserved = QuantityReserved - i.Quantity,
			QuantityAvailable = QuantityAvailable + i.Quantity
        FROM StockLevels sl
        JOIN @Items i ON sl.ProductID = i.ProductID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO StockOperation_Log
		( RequestGuid, OperationType, DocumentId, Status, ErrorMessage )
    VALUES
		( @RequestGuid, 'UNRESERVE', @DocumentId, @Status, @ErrorMessage );
END;
GO
/****** Object:  StoredProcedure [dbo].[Supplier_ADD]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Supplier_ADD]
    @Name NVARCHAR(255),
    @TaxId NVARCHAR(15),
    @REGON NVARCHAR(20),
    @Address NVARCHAR(255),
    @PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(255),
    @isActiv BIT,
    @RequestGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;
    DECLARE @SupplierID INT = NULL;

    BEGIN TRY
        IF @Name IS NULL OR LTRIM(RTRIM(@Name)) = ''
            THROW 60001, 'Nazwa dostawcy jest wymagana', 1;

        IF @TaxId IS NULL OR LTRIM(RTRIM(@TaxId)) = ''
            THROW 60002, 'Nip dostawcy jest wymagany', 1;

        IF EXISTS (SELECT 1 FROM Suppliers WHERE TaxId = @TaxId)
            THROW 60003, 'Dostawca z takim NIP-em istnieje już w bazie', 1;

        BEGIN TRANSACTION;

        INSERT INTO dbo.Suppliers
            (Name, TaxId, REGON, Address, PhoneNumber, Email, isActiv)
        VALUES
            (@Name, @TaxId, @REGON, @Address, @PhoneNumber, @Email, @isActiv);

        SET @SupplierID = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO dbo.SupplierOperation_Log
        (RequestGuid, OperationType, SupplierID, Status, ErrorMessage)
    VALUES
        (@RequestGuid, 'ADD', @SupplierID, @Status, @ErrorMessage);
END;
GO
/****** Object:  StoredProcedure [dbo].[Supplier_UPDATE]    Script Date: 4/1/2026 12:02:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Supplier_UPDATE]
    @ID INT,
    @Name NVARCHAR(255),
    @TaxId NVARCHAR(15),
    @REGON NVARCHAR(20),
    @Address NVARCHAR(255),
    @PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(255),
    @isActiv BIT,
    @RequestGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Status NVARCHAR(20) = 'SUCCESS';
    DECLARE @ErrorMessage NVARCHAR(4000) = NULL;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Suppliers WHERE ID = @ID)
            THROW 60010, 'Podany dostawca nie istnieje w bazie', 1;

        IF @Name IS NULL OR LTRIM(RTRIM(@Name)) = ''
            THROW 60011, 'Nazwa dostawcy jest wymagana', 1;

        IF @TaxId IS NULL OR LTRIM(RTRIM(@TaxId)) = ''
            THROW 60012, 'Nip dostawcy jest wymagany', 1;

        IF EXISTS (
            SELECT 1 
            FROM Suppliers 
            WHERE TaxId = @TaxId AND ID <> @ID
        )
            THROW 60013, 'Inny dostawca z tym NIP-em już istnieje w bazie', 1;

        BEGIN TRANSACTION;

        UPDATE dbo.Suppliers
        SET
            Name = @Name,
            TaxId = @TaxId,
            REGON = @REGON,
            Address = @Address,
            PhoneNumber = @PhoneNumber,
            Email = @Email,
            IsActiv = @isActiv
        WHERE ID = @ID;

        IF @@ROWCOUNT = 0
            THROW 60015, 'Błąd aktualizacji.', 1;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET @Status = 'ERROR';
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH;

    INSERT INTO dbo.SupplierOperation_Log
        (RequestGuid, OperationType, SupplierID, Status, ErrorMessage)
    VALUES
        (@RequestGuid, 'UPDATE', @ID, @Status, @ErrorMessage);
END;
GO
